.about-box {
  margin-top: 40px;
  margin-left: 40px;
  margin-right: 40px;
}

.about-body {
  display: flex;
  justify-content: center;
}



body {
  background-image: url("https://www.drivetanks.com/wp-content/uploads/2016/05/Tank-Background-02-1920x1080-1.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  background-attachment: fixed;
}

.home-title {
  display: flex;
  justify-content: center;
  max-width: 100%;
  max-height: 100%;
  margin: 25px 25px;
}

h3 span {
  font-family: 'Anton', sans-serif;
  color: #FFE5B4;
  background-color: #b29d69;
  border: 3px solid #FFE5B4;
}

p span, h4 span{
  display: flex;
  align-items: center;
  font-family: 'Anton', sans-serif;
  color: #FFE5B4;
  background-color: #b29d69;
  border: 3px solid #FFE5B4;
}

#tank-icon {
  margin-top: -17px;
  height: 50px;
  width: 50px;
}

#nav-color {
  height: 68px;
  background-color: #4b5320;
  border: 3px solid #b29d69;
}

.footer {
  position: fixed;
  left: 0;
  height: 55px;
  bottom: 0;
  width: 100%;
  background-color: #4b5320;
  border: 3px solid #b29d69;
  text-align: center;
}
