.about-box {
  margin-top: 40px;
  margin-left: 40px;
  margin-right: 40px;
}

#logos {
  margin-top: -16px;
}

.email {
  color: #FFE5B4;
  margin-top: 12px;
}

.display-text {
  font-family: 'Anton', sans-serif;
  color: #FFE5B4;
  font-size: 15px;
}

.display-text2 {
  font-family: 'Anton', sans-serif;
  color: #FFE5B4;
  font-size: 25px;
  margin-top: 8px;
}

#pic {
  border: 2px solid #FFE5B4;
  margin-bottom: 10px;
}

#dtop {
  margin-top: 14px;
}

#Ui {
  display: flex;
  justify-content: center;
}

.about-body {
  display: flex;
  justify-content: center;
}

.img {
  height: 230px;
  width: 330px;
}



#tank-list {
  border: 3px solid #FFE5B4;
  background-color: #4b5320;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  overflow: scroll;
  width: 500px;
  max-height: 350px;
  padding-top: 15px;
  padding-bottom: 15px;
  margin-bottom: 105px;
}

#overflow {
  border: 3px solid #FFE5B4;
  background-color: #4b5320;
  display: flex;
  align-items: center;
  flex-direction: column;
  flex-wrap: nowrap;
  overflow: scroll;
  max-height: 350px;
  padding-top: 15px;
  padding-bottom: 15px;
  margin-bottom: 105px;
}

.nav-bg:hover {
  background: #996600;
}

.dta-btns:hover {
  background: #996600;
}

.dta-btns {
  margin-top: 7px;
  margin-bottom: 7px;
  margin-left: 7px;
  margin-right: 7px;
}



body {
  background-image: url("https://wallpaperaccess.com/full/946802.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  background-attachment: fixed;
}

.home-title {
  display: flex;
  justify-content: center;
  max-width: 100%;
  max-height: 100%;
  margin: 25px 25px;
}

.home-title2 {
  display: flex;
  justify-content: center;
  max-width: 100%;
  max-height: 100%;
  margin: 25px 25px;
}

h3 span {
  font-family: 'Anton', sans-serif;
  color: #FFE5B4;
  background-color: #b29d69;
  border: 3px solid #FFE5B4;
}

.home-title2 span {
  background-color: #4b5320;
}

.span-text {
  margin-top: 14px;
  padding: 12px;
}

.span-text1 {
  margin-top: 5px;
  margin-bottom: 5px;
  padding: 5px;
}

p span, h4 span, .dta-btns{
  display: flex;
  align-items: center;
  font-family: 'Anton', sans-serif;
  color: #FFE5B4;
  background-color: #b29d69;
  border: 3px solid #FFE5B4;
}

#tank-icon {
  margin-top: -17px;
  height: 50px;
  width: 50px;
}

#nav-color {
  height: 68px;
  background-color: #4b5320;
  border: 3px solid #b29d69;
}

.footer {
  position: fixed;
  left: 0;
  height: 55px;
  bottom: 0;
  width: 100%;
  background-color: #4b5320;
  border: 3px solid #b29d69;
  text-align: center;
}
