body {
  background-image: url("https://lh3.googleusercontent.com/proxy/MuGrP7W8sZIIq9A-JdMQfIYeqt200lfVDK0ea6ZRPJ98tw6j6o_hOLsDmP_ORvQrnIcEKFCvBl5von_tb54m6WNXasPzhR1g4tFFy5z_9OTaXzJR9ZMyIBeQk1itb27nZveHdB37w83bQ09aVQyRCqwzLXC4wDKx7ih2Cg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  background-attachment: fixed;
}

.home-title {
  display: flex;
  justify-content: center;
  max-width: 100%;
  max-height: 100%;
  margin: 25px 25px;
}

h3 span {
  font-family: 'Anton', sans-serif;
  color: #FFE5B4;
  background-color: #b29d69;
  border: 3px solid #FFE5B4;
}

p span {
  display: flex;
  align-items: center;
  font-family: 'Anton', sans-serif;
  color: #FFE5B4;
  background-color: #b29d69;
  border: 3px solid #FFE5B4;
}

#tank-icon {
  margin-top: -17px;
  height: 50px;
  width: 50px;
}

#nav-color {
  height: 68px;
  background-color: #4b5320;
  border: 3px solid #b29d69;
}

.footer {
  position: fixed;
  left: 0;
  height: 55px;
  bottom: 0;
  width: 100%;
  background-color: #4b5320;
  border: 3px solid #b29d69;
  text-align: center;
}
